*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.banner{
    background-image: url(./img/BANNER.webp);
    height: 150px;
    text-align: center;
    padding-top: 75px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-list li a{
    font-size: 25px;
    color: #bcd3c9;
    text-decoration: none;
}
.perfil-img{
    width: 300px;
    height: auto;
    margin: 10px;
}
.perfil-info{
    margin: 10px;
}
.redes li{
    display: inline;
}
.redes{
    text-align: center;
    padding: 20px;
}
.redes li a{
    text-decoration: none;
    color: #bda678;
}
footer{
    background-color: #bcd3c9;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.unpocosobremi{
    margin: 20px;
}
.exp-laboral{
    margin-top: 20px;
}